html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Jakarta Display', sans-serif;
  background-color: #131428;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Define your custom scrollbar style here */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f2f3f570; /* color of the tracking area */
  border-radius: "12px";
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* color of the scroll thumb */
  border-radius: 20px; /* radius of the scroll thumb */
  border: 3px solid #f2f3f5; /* creates padding around scroll thumb */
}

@tailwind base;
@tailwind components;
@tailwind utilities;